<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/papermandb</property>
    <property name="hibernate.connection.username">root</property>
    <!--<property name="cache.provider_class">
            org.hibernate.cache.EhCacheProvider
    </property>
    <property name="cache.use_second_level_cache">true</property>-->
    <!-- Mapping Table To Database -->
    <mapping class="paperman.model.kendaraan"/>
    <mapping class="paperman.model.pengemudi"/>
    <mapping class="paperman.model.kendaraanPutih"/>
    <mapping class="paperman.model.pengemudiPutih"/>
    <mapping class="paperman.model.setoran"/>
    <mapping class="paperman.model.setoranDetail"/>
    <mapping class="paperman.model.setoranPutih"/>
    <mapping class="paperman.model.setoranDetailPutih"/>
    <mapping class="paperman.model.sistem"/>
    <mapping class="paperman.model.codeGenerator"/>
    <mapping class="paperman.model.closingBulanan"/>
    <mapping class="paperman.model.closingTahunan"/>
    <mapping class="paperman.model.komposisiSetoran"/>
    <mapping class="paperman.model.SecurityUser"/>
    <mapping class="paperman.model.closingBulananPutih"/>
    <mapping class="paperman.model.closingTahunanPutih"/>
  </session-factory>
</hibernate-configuration>
